.reset{
    background-color: black;
    color: white;
    height: 35px;
    width: 65px;

}
.btnbtn-primary{
    margin: 20px 8px;
    height: 35px;
    width: 175px;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 72, 221);
 }
 h1{
  color: rgb(54, 54, 54);
 }
 .textToSpeech{
    margin-top: 20px;
    margin-left: .7px;
    height: 35px;
    width: 175px;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 72, 221);
 }
 